/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');*/

@import url(./sitio-b.css);
/*selector universal*/
* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;   
    margin: 0;
}
body
{
  background-color: #181419 !important; 
}

/**/
/**/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rojo); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #912e3f; 
}

/******************/
/****** Font ******/

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/**********************/
/****** FIN Font ******/



.texto-blanco {
    color: var(--texto-blanco);
}

/*******************/
/*****  MAIN  ******/

.main {
    background-image: linear-gradient(to right top, #0000008a, #0000008a), url(../imgs/banner-bg.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***********************/
/***** FIN  MAIN  ******/

/****************************/
/***** CONJUNTO HEADER ******/

.main_titulo
{
  padding-top: 20vh;
  padding-bottom: 5vh;
  font-size: 3rem;
}
.main_subtitulo
{
  margin-bottom: 5vh;
}
.main_btn_registrarse
{
  text-decoration: none;
  padding: 15px;
  background-color: var(--rojo);
  color: var(--texto-blanco);
  border-radius: 5px;    
  width: 20vw;
}
.header
{
  background-color:var(--rojo) ;
  padding-top: 1vh;
  padding-left: 3vw;
  height: 9vh;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo
{
  height: 5vh;
  width: 20vw;
} 
.header_logo_link
{
  text-decoration: none;
  color: var(--texto-blanco);
}
.header_menu
{
  height: 10vh;
  display: flex;
  width: 78vw;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vw;
} 
.header_menu a
{
  padding-left: 1vw;
  padding-right: 1vw;
  text-decoration: none;
  color: var(--texto-blanco);
}

#header_menu_login
{
  padding: 1vh;
  background: black;
  border-radius: 5px;
  font-size: 1rem;
}

/***************************/
/***** FIN DEL HEADER ******/

/******************************/
/***** SECCION TENDENCIAS *****/

.tendencias
{
  color:var(--texto-blanco);
  /*Animacion*/
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.tendencias.visible
{
  opacity: 1;
  transform: none;
  visibility: visible;
}

.boton_anterior
{
  padding: 1.5vh 3vh;
  border-radius: 10px;
  border: 2px solid var(--texto-blanco);
  background-color: var(--rojo);
  color: var(--texto-blanco);
  font-size: 1rem;
  margin-right: 5px;
}

.boton_siguiente {
  padding: 1.5vh 3vh;
  border-radius: 10px;
  border: 2px solid var(--texto-blanco);
  background-color: var(--rojo);
  color: var(--texto-blanco);
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.centrar
{
  display:flex;
  justify-content: center;
  margin-top: 20px;
}

.card
{
  background-color: var(--fondo-negro);
  border-color: var(--fondo-negro);
  margin-bottom: 20px;
  align-content: center;
  transition: all 2s ease-in-out 250ms;
}
.card:hover
{
  filter:blur(1rem);
 }

.card img {
  background-color: var(--fondo-negro);
  border-color: var(--fondo-negro);
  object-fit: cover;
  height: 350px;
  width: 200px;
  align-content: center;
}

/**********************************/
/***** FIN SECCION TENDENCIAS *****/

/************************/
/* ELEMENTOS DE BUSQUEDA*/

/*formulario de busqueda*/
.busqueda {
  text-align: center;
  height: 50vh;
  color:var(--texto-blanco);
  padding-top: 10vh;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
}

.busqueda > h2 + form {
  padding-top: 6vh;
}

.input_seach {
  padding: 2vh 3vh;
  border-radius: 25px;
  border: none;

  text-transform: capitalize;
  width: 50vw;
}

.button_search {
  padding: 1.5vh 3vh;
  border-radius: 25px;
  border: 2px solid var(--texto-blanco);
  background-color: var(--rojo);
  color: var(--texto-blanco);
  font-weight: bold;
  font-size: 1rem;
}

.button_search:hover {
  font-size: 1.1rem;
}

hr {
  margin: 0 auto;
  margin-top: 20vh ;
  width: 75vw;
  border: 0.5px solid var(--rojo);
 }

 .elemento_fijo {
  position: fixed;
  bottom:5vh;
  right:5vw;
  color:var(--rojo);
 }

/****************************/
/* FIN ELEMENTOS DE BUSQUEDA*/

/************/
/* ACLAMADAS*/

.pelicula-aclamada
{
  border: solid black 2px;
  width: 15vw;
  height: 40vh;
  margin: 2vw 2vh;
}

.texto-aclamada
{
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

/************************/
/**** FIN ACLAMADAS *****/

/**********/
/* FOOTER */

.preguntas
{
  text-decoration: none;
  font-size: 1.2rem;
}
/* unvisited link */
.preguntas:link
{
  color: red;
}

/* visited link */
.preguntas:visited
{
  color: white;
}

/* mouse over link */
.preguntas:hover
{
  color: hotpink;
}

/* selected link */
.preguntas:active
{
  color: blue;
}

 /*media query para impresion*/
 @media print {
  /*todo lo que ponga aca se ejecuta cuando voy a imprimir!!*/
  :root {
    --rojo: #3f9f36; 
  }
  .main {
    display: none;
  }
  /*jueguen!!*/
 }

 /*media query*/
 @media screen and (min-width: 800px) and (max-width: 900px) {
  :root {
    --rojo: #9f8336; 
  }
  .header {
    justify-content: flex-start;
  }
  .header_menu {
    display: none;
  }

 }

 @media screen and (min-width: 900px) and (max-width: 1200px) {
  :root {
    --rojo: #369f9f; 
  }
 }